*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

i, svg{
   pointer-events: none; 
}

.kick-pad, .snare-pad, .hihat-pad{
    width: 4rem;
    height: 4rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad{
    background: blue;
}

.snare-pad{
    background: blueviolet;
}

.hihat-pad{
    background: orange;
}

.kick-pad.active{
    background: rgb(88, 88, 208);
}

.snare-pad.active{
    background: rgb(157, 105, 205);
}

.hihat-pad.active{
    background: rgb(156, 139, 110);
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kick-track, .snare-track, .hihat-track{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-top: 4rem;
}

.kick, .snare, .hihat{
    display: flex;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button{
    padding: 1rem;
    border: none;
    background: gray;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad{
    transition: all 0.5s ease;
}

.play{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: gray;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;
}

